{% if article.articleId > 0 %}
    {% set articleImg = '' %}
    {% set displayNameLen = 35 %}
    {% set cardImageClass = 'without__image' %}
    {% if article.featuredMedia | length > 0 and article.featuredMedia['id'] is not empty %}
        {# 1 col article #}
        {% set imgWidth = 373 %}
        {% set imgHeight = 180 %}
        {# article covers 2 cols #}
        {% if viewType == '2col' %}
            {% set imgWidth = 385 %}
            {% set imgHeight = 395 %}
        {% endif %}
        {# smallest article view #}
        {% if viewType == 'small' %}
            {% set imgWidth = 149 %}
            {% set imgHeight = 195 %}
            {% set displayNameLen = 15 %}
        {% endif %}
        {% if viewType == 'banner' %}
            {% set imgWidth = 1310 %}
            {% set imgHeight = 540 %}
        {% endif %}
        {% set cardImageClass = 'withImage__content' %}
        {% set articleImg = _Media.getMediaUrl(article.featuredMedia,imgWidth, imgHeight, {'crop': 'fill', 'gravity': 'north'} ) %}
    {% endif %}
    {% set blogClass = article.blog['title']|replace({' ': ''}) %}
		{% else %}
		    {% set social = article.social %}
		    {% set hasMediaClass = (social.hasMedia == 'TRUE') ? 'withImage__content' : 'without__image' %}
<div class="my_card">
  <div class="content">
    <div class="category">Category</div>
    <div class="text">
			{# <h2>Headline text</h2> #}
			<p>{{ social.content | raw | truncate(100, true) }}<p>
		</div>
		<div class="media">Image/Video here if available</div>
    <div class="source">@{{social.source}}</div>
  </div>
</div>
{% endif %}
