.footer {
  background-color: $white;
  padding-top: 70px;
  padding-bottom: 80px;

  &__navigation {
    &-row {
      @extend .row;

      margin: 0px;
      text-align: center;
    }
    &-list {
      margin: 0px 0px 30px -10px;
      padding: 0px;
      li:nth-of-type(1) {
        border-bottom: 4px solid rgba(69, 101, 118, 1);
      }
      li:nth-of-type(2) {
        border-bottom: 4px solid rgba(69, 101, 118, 0.80);
      }
      li:nth-of-type(3) {
        border-bottom: 4px solid rgba(69, 101, 118, 0.65);

      }
      li:nth-of-type(4) {
        border-bottom: 4px solid rgba(69, 101, 118, 0.50);
      }
      li:nth-of-type(5) {
        border-bottom: 4px solid rgba(69, 101, 118, 0.35);

      }
      li:nth-of-type(6) {
        border-bottom: 4px solid rgba(69, 101, 118, 0.25);

      }
      li:nth-of-type(7) {
        border-bottom: 4px solid rgba(69, 101, 118, 0.15);

      }
      li:nth-of-type(8) {
        border-bottom: 4px solid rgba(69, 101, 118, 0.10);

      }
      li:nth-of-type(9) {
        border-bottom: 4px solid rgba(69, 101, 118, 0.05);

      }
      li:nth-of-type(10) {
        border-bottom: 4px solid rgba(69, 101, 118, 0.02);

      }
    }
    &-item {
      display: inline-block;
      margin-right: -3px;
    }
    &-link {
      &, &:link, &:visited, &:active, &.active {
        color: $link-color;
        display: inline-block;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        padding: 0 15px 10px;
        line-height: 20px;
      }
    }
  }

  &__container {
    @extend .container;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;

  }

  &__info-mobile {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    > * {
      flex: 0 1 100%;
      display: inline-block;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 600;
      color: #4B4B4B;
      letter-spacing: 0px;
    }
    @include bigger-then-tablet {
      display: none;
    }
  }

  &__logo {
    margin-bottom: 40px;
    @include bigger-then-tablet {
      display: inline-block;
      margin-bottom: 45px;
      img {
        width: 300px;
      }
    }
  }

  &__social-links {
    margin-bottom: 18px!important;
    .fa {
      color: $white;
      width: 30px;
      display: inline-block;
      height: 30px;
      border-radius: 100px;
      background-color: #4A4A4A;
      padding-top: 8px;
      margin: auto 2px;
      @include bigger-then-tablet {
        text-align: center;
        margin: auto auto auto 2px;
      }
      &:hover {
        color: #36647E;
      }
    }
  }

  &__desktop {
    display: none;
    @include bigger-then-tablet {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .header__navigation-list {
      margin: 0;
    }
  }

  &__copyright {
    @include bigger-then-tablet {
      opacity: 0.34;
      font-size: 14px;
      color: #4B4B4B;
      font-weight: 600;
      text-align: left;
      margin-top: 35px;
      width: 100%;
    }
  }

  &__right {
    @include bigger-then-tablet {
      display: flex;
      align-items: flex-end;
      width: 20%;
    }
  }

  &__additional-links {
    @include bigger-then-tablet {
      text-align: right;
      display: flex;
      flex-wrap: wrap;
      > * {
        flex: 0 1 100%;
        display: inline-block;
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: 600;
        color: #4B4B4B;
        letter-spacing: 0px;
      }
      > a:last-child {
        margin-bottom: 0;
      }
    }
  }
}
